{% extends "post/base.html" %}
{% block content %}
<main role="main" class="container ">
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid pt-4">
        <h3>Latest Job News, Hackathons, Internships and other Competitons</h3>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{message |safe}}
          </div>
          {% endfor %}
        </ul>
        {% endif %}
        <div class="row">
          <a href="{% url 'employ-post-create'%}">Create New</a>
          <div class="gcse-search"></div>
          <div class="col-md-12 text-center">
            <ul class="nav nav-pills center-pills mb-3 p-2" id="pills-tab" role="tablist">
              <li class="nav-item home-pill">
                <a class="nav-link pills-text active " id="pills-jobs-tab" data-toggle="pill" href="#pills-jobs" role="tab"
                aria-controls="pills-jobs" aria-selected="true">Jobs<span class="badge badge-danger ml-2">9</span></a>
              </li>
              <li class="nav-item home-pill">
                <a class="nav-link pills-text" id="pills-hackathons-tab" data-toggle="pill" href="#pills-hackathons" role="tab"
                aria-controls="pills-hackathons" aria-selected="false">Hackathons<span class="badge badge-danger ml-2">7</span></a>
              </li>
              <li class="nav-item home-pill">
                <a class="nav-link pills-text" id="pills-internships-tab" data-toggle="pill" href="#pills-internships" role="tab"
                aria-controls="pills-internships" aria-selected="false">Internships<span class="badge badge-danger ml-2">4</span></a>
              </li>
              <li class="nav-item home-pill">
                <a class="nav-link pills-text" id="pills-others-tab" data-toggle="pill" href="#pills-others" role="tab"
                aria-controls="pills-others" aria-selected="false">Others<span class="badge badge-danger ml-2">5</span></a>
              </li>
            </ul>
            <div class="tab-content pt-2 pl-1" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-jobs" role="tabpanel" aria-labelledby="pills-jobs-tab">
                  <div class="row row-cols-1 row-cols-md-4 container">
                    {% for post in posts %}

                      {% if post.post_type == 1 %}
                      <div class="col mb-3">
                      <!-- Card -->
                      <div class="card home-card">
                        <!--Card image-->
                        <div class="view overlay">
                          <img class="card-img-top pt-4" src="{{post.company_logo_link}}"
                          alt="Card image cap">
                          <a href="{%url 'job-post' post.id%}">
                            <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                        <!--Card content-->
                        <div class="card-body home-cards">
                          <!--Title-->
                          <a href="{%url 'job-post' post.id%}"><h4 class="card-title">{{post.role|slice:":26"|title}}
                            {%if post.role|length > 26 %}
                              ...
                            {%endif%}
                          </h4></a>
                          <!--Text-->
                            <table class="table table-sm card-text">
                              <thead>

                              </thead>
                              <tbody>
                                <tr>
                                  <td scope="col">Company</td>
                                  <td scope="col">{{post.company_name}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Salary</th>
                                  <td>{{post.salary}}</td>
                                </tr>
                                <tr>
                                  <th scope="row">Last Date</th>
                                  <td>{{post.last_date}}</td>
                                </tr>
                              </tbody>
                            </table>

                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <a class="btn btn-primary btn-sm" href="{% url 'job-post' post.id %}" role="button">Read More</a>
                          </div>
                        </div>
                        <!-- Card -->
                      </div>
                      {%endif%}
                    {%endfor%}
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
