/* font-family: 'Manjari', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */
body {
  margin-top: 2rem;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Roboto', sans-serif !important;
}
.default-color {
  background: #1A78C2 !important;
}
.center-pills { display: inline-flex; }

.pills-text{
  color:black!important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
}

.home-pill{
  border-top: 1px solid #C7CCCE;
  border-bottom: 1px solid #C7CCCE;
}
.headerColor{
  background-color: #007BFF;
  /* height:100px; */
}
.title-font{
  font-family: 'Oswald', sans-serif;
  color: white;
  padding-left: 20px;
}
.title-font-button{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.jobPostContent{
  background-color: #F3F7F7;
}
.title-font-details{
  font-family: 'Oswald', sans-serif;
  color: black;
  /* position: relative; */
  top:50px;
}
.jobDetails{
  background: white;
}

.card-img-top{
  max-width: 150px !important;
  height: 100px !important;
  display: inline !important;
  /* height: 100px;
  /* width: 90%; */
  /* width: 100px;;
  display: inline !important; */
}
.required-form{
  color: red;
}

.home-cards{
  padding-top: 6px !important;
  border-top: 1px dashed #E5E7E8;
  font-family: 'Oswald', sans-serif;
}
.home-card:hover{
  border-top: 5px solid #4285F4;
}
