body {
  margin-top: 2rem;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Roboto', sans-serif !important;
}
.default-color {
  background: #1A78C2 !important;
}
.center-pills { display: inline-flex; }

.pills-text{
  color:black!important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
}
.comments {
  background: #696969;
  padding: 20px;
  color:black;
}
.home-pill{
  border-top: 1px solid #C7CCCE;
  border-bottom: 1px solid #C7CCCE;
}
.headerColor{
  background-color: #007BFF;
  /* height:100px; */
}
.title-font{
  font-family: 'Oswald', sans-serif;
  color: white;
  padding-left: 20px;
}
.title-font-button{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.jobPostContent{
  background-color: #F3F7F7;
}
.title-font-details{
  font-family: 'Oswald', sans-serif;
  color: black;
  font-size: 20px;
  /* position: relative; */
  /* top:50px; */
}
.jobDetails{
  background: white;
  text-align: justify;
}

.card-img-top{
  max-width: 150px !important;
  height: 100px !important;
  display: inline !important;

}
.required-form{
  color: red;
}

.home-cards{
  padding-top: 6px !important;
  border-top: 1px dashed #E5E7E8;
  font-family: 'Oswald', sans-serif;
}
.home-card:hover{
  border-top: 5px solid #4285F4;
}
.last_date_job_post{
  background: #ffcb07;
}

.about_author{
  background: #dcdcdc;
}
.experience-post-list:hover{
  border-left: 3px solid #ffcb07;
  padding: 3px;
}

main.container.post-lists {
    min-height: 40em;
}
